.container {
    text-align: center;
    background-color: #90ee90;
    border-radius: 10px;
    padding: 50px;
    border: 3px black solid;
    transition: all 0.5s;
    /* display: inline-block; */
    /* display: flex;
    flex-wrap: wrap; */
    display: inline-block;
    width: 200px;
    height: 50vh;
    margin: 10px;
}

h1, p, img {
    max-width: 100%;
}

.container:hover {
    box-shadow: black 10px;
    transform: scale(1.03);
}